.wrapper {
	width: 100%;
	font-size: 0;
	margin-top: 60px;
}

.wrapper .warning {
	width: 100%;
	height: 30px;
	line-height: 30px;
	background-color: #F6AD3C;
	font-size: 0;
}

.wrapper .warning div {
	font-size: inherit;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	height: inherit;
	line-height: inherit;
}

.wrapper .warning div span {
	font-size: 18px;
	color: #fafafa;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.wrapper section {
	width: 96%;
	padding: 25px 2%;
}

.wrapper section div.images-sample {
	width: 100%;
	height: 600px;
	background: #eee;
	background-image: url('../images/mybackground.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom -500px;
}

.wrapper section h1.sec-title {
	font-size: 80px;
	font-weight: bold;
	display: block;
	width: 100%;
	height: 100px;
	line-height: 100px;
	text-align: center;
}

.wrapper section main {
	width: 1000px;
	min-height: 700px;
	border-radius: 20px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
	margin: 100px auto;
}

.wrapper section main article {
	padding: 30px;
}

.wrapper section main article div.header {
	display: inline-block;
	width: 50%;
	height: 60px;
	border-top: solid 1px #aaa;
	border-bottom: solid 1px #aaa;
	margin-top: 20px;
}

.wrapper section main article div.header h1 {
	font-size: 40px;
	font-weight: bold;
	display: block;
	height: 60px;
	line-height: 60px;
	padding: 0 10px;
}

.wrapper section main article .my-image {
	display: inline-block;
	float: right;
	background: #eee;
	background-image: url('../images/myface.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 400px;
	height: 400px;
	margin: 20px 20px 20px 50px;
}

.wrapper section main article p {
	font-size: 17px;
	margin: 20px 0;
	text-indent: 18px;
	line-height: 26px;
}

.wrapper section main article p.left {
	width: 50%;
}

.wrapper section main article p:not(.left) {
	display: block;
	width: 100%;
}

.wrapper section#works div.table-wrapper {
	padding: 50px;
	margin: 100px auto;
}
.wrapper section div table {
	width: 900px;
	margin: 0 auto;
}

.wrapper section div table, .wrapper section div table tr td, .wrapper section div table tr th {
	border: solid 1px #aaa;
	border-collapse: collapse;
}

.wrapper section div table tr {
	background: #fff;
}
.wrapper section div table tr:nth-child(Even) {
	background: #f5f5f5;
}

.wrapper section div table tr td, .wrapper section div table tr th {
	font-size: 17px;
	line-height: 50px;
	height: 30px;
	padding: 10px;
}

/****************donuts chart*******************/
#skills {
	text-align: center;
}

#skills main {
	width: 972px;
	padding: 14px;
	/* text-align: left; */
	font-size: 0;
}
#skills main div.belt {
	width: 100%;
	height: 50px;
	line-height: 50px;
}
#skills main div.belt h1 {
	font-size: 20px;
	width: 800px;
	height: 50px;
	line-height: 50px;
	display: block;
	border-bottom: solid 1px #aaa;
	margin: 0 auto;
}
section.card {
	width: 140px;
	font-size: 0;
	display: inline-block;
	/* border: solid 1px #aaa;
	border-radius: 5px; */
	overflow: hidden;
	padding: 25px 10px;
}
section.card .skills-text {
	padding-top: 10px;
	width: 100%;
	height: 20px;
}

section.card .skills-text span.skill-name {
	display: block;
	width: 100%;
	height: 20px;
	font-size: 18px;
	font-weight: bold;
	color: #000;
	line-height: 20px;
	text-align: center;
}

.my-donuts {
	width: 100%;
	/* background: #f5f5f5; */
}

.graph_box{
	display: inline-block;
	font-size:62.5%;
	padding:5px;
	box-sizing: border-box;
	margin: 0 20px;
}
.graph_box_wrap{
	position: relative;
	width: 100px;
	height: 100px;
	margin:0 auto;
}
.white:after{
	content:"";
	position:absolute;
	display: block;
	width: 90px;
	height: 90px;
	background:#fff;
	top:0;
	left:0;
	bottom:0;
	right:0;
	margin:auto;
	border-radius: 50% 50%;
}
.graph_box_percent{
	position: absolute;
	display: inline-block;
	width: 100%;
	top: 50%;
	left:0;
	text-align: center;
	font-size: 1rem;
	font-weight: bold;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 1;
}
  
.graph_box_percent .block{
	display:block;
	position:static;
	margin-top:20px;
}
.graph_box_percent span{
	font-size: 2rem;
	font-weight: bold;
}

.show-skills li {
	text-align: left;
	width: 960px;
	margin: 0 auto;
}

#contact span {
	display: block;
	width: 100%;
	height: 100px;
	line-height: 100px;
	margin: 100px auto;
}

#contact span p.information {
	font-size: 24px;
	font-weight: 400;
	text-align: center;
	text-decoration: underline;
}


footer {
	width: 100%;
	height: 20px;
	background: #aaa;
}